li {
    display: flex;
    align-items: center;
    background: #9087BF;
    padding: 6px 10px;
    margin-bottom: 4px;
    border-radius: 5px;
    cursor: pointer;
}

li:hover {
    background: #7970A8;
    transition: background .2s;
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px #686868;
}


li.done {
    text-decoration: line-through;
    opacity: 0.6;
}

:host([data-readonly="true"]) li {
    cursor: default;
}
.habit-name {
    font-size: 1.1rem;
    flex-shrink: 1;
}

.badge {
    margin-left: 10px;
    margin-right: auto;
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 0.7rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.daily {
    background: rgb(79, 128, 79);
}

.weekly {
    background:rgba(147, 209, 209, 0.788);
}

.monthly {
    background: rgb(204, 171, 88);
}

.delete-btn {
    background: #7871AA;
    font-size: medium;
    border-radius: 8px;
    color: #f0f0f0;

}

.delete-btn:hover {
    background: #656099;
    transition: background .2s;
}

.edit-btn {
    background: #7871AA;
    font-size: medium;
    margin-left: 10px;
    border-radius: 8px;
    color: #f0f0f0;
}

.edit-btn:hover {
    background: #656099;
    transition: background .2s;
}

.button-div {
display: flex;
gap: 5px;
flex-shrink: 0;
}


@media screen and (max-width: 1650px) {
    .button-div {
        margin-left: auto;
        flex-shrink: 0;
    }

    .edit-btn, .delete-btn {
        font-size: 0.75rem;
        padding: 4px 8px;
    }

    .badge {
        margin-left: 8px;
        padding: 2px 6px;
        font-size: 0.7rem;
    }

    .habit-name {
        font-size: 0.75rem;
    }
}


@media screen and (max-width: 1380px) {

    .edit-btn, .delete-btn {
        font-size: 0.65rem;
        padding: 4px 6px;
    }

    .badge {
        margin-left: 6px;
        padding: 2px 4px;
        font-size: 0.6rem;
    }

    .habit-name {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 370px) {
 .edit-btn, .delete-btn {
        font-size: 0.55rem;
    }
      .badge {
        font-size: 0.55rem;
        margin-left: 4px;
    }
     .habit-name {
        font-size: 0.65rem;
    }
}