:host {
    display: block;
    width: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.current-date{
    text-align: center;
}
.weekly-change-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prev-button {
    background: #7871AA;
    font-size: medium;
    font-weight: bold;
    color: #f0f0f0;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background .2s, transform 0.2s; 
}
 .prev-button:hover {
    background: #656099;
    animation: wiggle 0.3s ease-in-out infinite;
 }

 @keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}

.next-button {
    background: #7871AA;
    font-size: medium;
    font-weight: bold;
    color: #f0f0f0;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background .2s, transform 0.2s; 
}

.next-button:hover {
      background: #656099;
    animation: wiggle 0.3s ease-in-out infinite;
}

.days-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex: 3;
}

.week-col {
    flex: 1;
    min-width: 0;
    border: 1px solid #49447e;
    background-color: #d5d3f5;;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
}

.week-col:hover {
    background-color: #b6b4dd;
    box-shadow: 0 10px 15px -3px #686868;
    transform: translateY(-5px);
    transition: all .2s;
}

.done {
    text-decoration: line-through;
    opacity: 0.6;
}

.weekly-content {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-right: 16px;
}

.daily-habit-item {
    font-size: 95%;
}

.weekly-side-panel {
    flex: 2;
    background-color: #d5d3f5;
    border: 1px solid #49447e;
    padding: 5px;
    border-radius: 5px;
    max-width: 390px;
}

.side-panel-title {
    border-bottom: 1px solid #49447e;
}

.week-col p {
    text-align: center;
    font-weight: bold;
    margin: 0 0 4px 0;
    border-bottom: 1px solid #49447e;
}

.week-col.today {
    border: 4px solid #49447e;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.weekly-wrapper {
    padding: 0 16px 16px 16px;
    box-sizing: border-box;
    width:100%;
}

.daily-habit-list li {
    background-color: #bbb4e9;
    border-radius: 4px;
    padding: 3px 4px;
    margin-bottom: 3px;
}

.daily-habit-list {
    list-style-type: circle;
    padding-left: 20px;
    padding-right: 10px;
    margin: 8px 0 0 0;
}

/* Media queries for responsive design. */

@media screen and (max-width: 1600px) {
    .weekly-side-panel{
        max-width: 330px;
    }

    .daily-habit-list li {
        font-size: 0.95rem;
        padding: 2px 4px;
    }
}

@media screen and (max-width: 1450px) {
     .weekly-side-panel{
        max-width: 350px;
    }
    .daily-habit-list li {
        font-size: 0.85rem;
        padding: 2px 3px;
    }
}

@media screen and (max-width: 1380px) {
    
.weekly-content {
    padding-right: 6px;
}
 .weekly-side-panel{
        max-width: 370px;
    }
}

@media screen and (max-width: 1340px) {
    .weekly-content {
        flex-direction: column;
    }

    .weekly-side-panel {
        max-width: 100%;
        width: 80%;
    }

    .days-container {
        width: 100%;
    }
}

@media screen and (max-width: 1050px) {
    .days-container {
        flex-wrap: wrap;
        gap: 8px;
    }

    .week-col {
        flex: 1 1 calc(50% - 4px);
        min-width: 140px;
    }
}

@media screen and (max-width: 600px) {
    .weekly-change-date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
        width: 100%;
    }

    .prev-button, .next-button {
        font-size: 0.8rem;
        padding: 6px 6px;
    }

    .week-col {
        flex: 1 1 100%;
    }

    .current-date{
    font-size: 0.8rem;
}
}

@media screen and (max-width: 450px) {
    
    .weekly-side-panel {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .current-date {
        font-size: 0.8rem;
    }

      .prev-button, .next-button {
        font-size: 0.6rem;
    }
}
@media screen and (max-width: 375px) {
    .current-date {
        font-size: 0.75rem;
    }

      .prev-button, .next-button {
        font-size: 0.55rem;
    }
}


@media screen and (max-width: 350px) {
    .current-date {
        font-size: 0.65rem;
    }
}