*, *::before, *::after {
    box-sizing: border-box;
}
.current-date{
    text-align: center;
}
.change-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prev-button {
    background: #7871AA;
    font-size: medium;
    font-weight: bold;
    color: #f0f0f0;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background .2s, transform 0.2s; 
}
 .prev-button:hover {
    background: #656099;
    animation: wiggle 0.3s ease-in-out infinite;
 }

 @keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}

.next-button {
    background: #7871AA;
    font-size: medium;
    font-weight: bold;
    color: #f0f0f0;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background .2s, transform 0.2s; 
}

.next-button:hover {
      background: #656099;
    animation: wiggle 0.3s ease-in-out infinite;
}

.days-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex: 3;
}

.week-col {
    flex: 1;
    min-width: 0;
    border: 1px solid #49447e;
    background-color: #d5d3f5;;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
}

.week-col:hover {
    background-color: #b6b4dd;
    box-shadow: 0 10px 15px -3px #686868;
    transform: translateY(-5px);
    transition: all .2s;
}

.done {
    text-decoration: line-through;
    opacity: 0.6;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-right: 16px;
}

.daily-habit-item {
    font-size: 95%;
}

.side-panel {
    flex: 2;
    background-color: #d5d3f5;
    border: 1px solid #49447e;
    padding: 5px;
    border-radius: 5px;
}

.side-panel-title {
    border-bottom: 1px solid #49447e;
}

.week-col p {
    text-align: center;
    font-weight: bold;
    margin: 0 0 4px 0;
    border-bottom: 1px solid #49447e;
}

.wrapper {
    padding: 0 16px 16px 16px;
    box-sizing: border-box;
    width: 100%;
}

.daily-habit-list li {
    background-color: #bbb4e9;
    border-radius: 4px;
    padding: 3px 4px;
    margin-bottom: 3px;
}

.daily-habit-list {
    list-style-type: circle;
}