.current-date{
    text-align: center;
}

.current-day-name {
    font-weight: bolder;
    text-align: center;
}

.daily-change-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prev-button {
    background: #7871AA;
    font-size: medium;
    font-weight: bold;
    color: #f0f0f0;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background .2s, transform 0.2s; 
}
 @media (hover: hover) {
    .prev-button:hover {
    background: #656099;
    animation: wiggle 0.3s ease-in-out infinite; 
    }
}

 @keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}

.next-button {
    background: #7871AA;
    font-size: medium;
    font-weight: bold;
    color: #f0f0f0;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background .2s, transform 0.2s; 
}

 @media (hover: hover) {
    .next-button:hover {
    background: #656099;
    animation: wiggle 0.3s ease-in-out infinite; 
    }
}

.list-container {
    max-width: 88%;
}

/* Media queries for responsive design. */

@media screen and (max-width: 600px) {
    .daily-change-date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
        width: 100%;
    }

    .prev-button, .next-button {
        font-size: 0.8rem;
        padding: 6px 6px;
    }

    .current-date{
    font-size: 0.8rem;
}
}

@media screen and (max-width: 400px) {
    .current-date {
        font-size: 0.8rem;
    }

      .prev-button, .next-button {
        font-size: 0.6rem;
    }
}
@media screen and (max-width: 375px) {
    .current-date {
        font-size: 0.75rem;
    }

      .prev-button, .next-button {
        font-size: 0.55rem;
    }
}