*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
    background: #BBC4E9;
    padding: 20px;
}

@media screen and (max-width:480px){

    body{
        padding:8px;
        font-size:medium;
    }

}